@media (max-width: 512px) {
    body {
        font-size: 10pt;
    }

    div.head_container {
        z-index: 3;
    }

    div.big_container{
        flex-direction: column;  
    }

    div.display {
       margin: 0.5pt 1pt 0.5pt 0pt;
       width: 100%;
    }

    div.nav_topic_menu {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
    }

    button.topic_menu {
        padding: 0pt 8pt;
        background-color: rgb(211, 0, 130);;
        border: none;
        font-size: 12pt;
        font-weight: bold;
    }

    div.nav {
        padding: 1pt;
        flex: 1;
    }

    div.nav p {
       font-size: 8pt;
       margin: 0pt; 
    }

    div.theory_side_nav, div.piano_side_nav, div.violin_side_nav, div.guitar_side_nav, 
    div.voice_side_nav, div.recorder_side_nav, div.drum_kit_side_nav {
        position: fixed;
        height: 500pt;
        z-index: 1;
        width: 70%;
        position: absolute;
    }

    div.landing_header {
        padding: 10pt 0pt;
        margin-top: 0pt;
    }

    div.landing_display iframe {
        height: 450pt;
    }

    div.container_2 p {
        margin-top: 0pt;
        font-size: 12pt;
        padding: 5pt 0pt;
    } 
}