@media (max-width: 1024px) {

    div.side_nav {
        height: 400pt;
    }

    div.side_nav p {
        background-color: rgb(176, 231, 231);
        /*border: 1pt solid black;*/
        margin: 0pt 0pt;
        font-size: 12pt;
    }

    div.display {
        background-color: rgb(214, 247, 248);
        margin: 0.5pt 1pt 0.5pt 1pt; 
    }

    div.container_1 > div iframe {
        height: 500pt;
    }

    div.container_2 {
        background-color: rgb(208, 218, 238);
    }

    div.container_2 p {
        margin-top: 70pt;
        font-size: 10pt;
    }
}